html,body{
    font-family :  'Raleway' , sans-serif;
    
    box-sizing: border-box;
}
nav>ul{
    margin: 0px;
    padding: 0px;
}
/* header */
body{
    margin-top: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    
}

.menu{
    display: flex;
   
}


#logoreservia{
    height:50px;

    display: grid;
    align-items: flex-end;
    
}

.nav menu{
    display: flex;
    margin-top: 41px;
}

.nav2{
    color: #0065fc;
    text-decoration: none;
    align-items: center;
    display: block;
    padding: 20px;
}
.nav2.mobile{
    display: none;
}
.navlist li:hover  {
color: #0065fc;
border-top-color: #0065fc;
}

.navlist{
    border: 1px solid transparent;
}
.navlist li{
    border-top: 3px transparent solid;
    padding-top: 14px;
}
.navlist li a{
    text-decoration: none;
   
}

.navlist li{
    display: flex;
    text-align: center;
    transition: none;
    text-decoration: none; 
        
}
.liste2{  
    color: black; 
    
}
.menu ul{
    display: flex;
    font-size: large;
   
}

.liste2 a{
    font-weight: lighter;
    color: black;   
    justify-content: center;
    width: 140px;
    text-decoration: none;
}
h1{ font-size: 20px;
    margin: 10px;
    padding-left: 10px;
}
p{
    padding-left: 35px;
    font-weight: lighter;
    margin: 10px;

}
/* barre de recherche*/
.buttonrecherche2{display: none;}
.loupe2{display: none;}

form{
    display: flex;
    font-size: 50px;

}
#search{
    padding: 5px;
    outline: 0;
    color: black;
    font-size: 20px;
    text-align: right;
}
#search{
    border: 1px solid;
    color: #F2F2F2;
}
#localisation
{
border:1px solid none;
padding: 15px;
margin-left: 15px;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
background-color:#F2F2F2 ;
font-size: 20px;
}
#recherche{
    background-color:#0065FC ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 15px;
    color: white;
    font-size: 15px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}
::placeholder{
    color: black;
    font-size: 19px;
    text-align: left;
}
/*menu barre*/

.filtres{
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;

    }
.menubar{
    display: flex;
    align-items: center;
padding: 15px;
margin:15px;
list-style-type: none;
justify-content: left;
text-decoration: none;
}
.menubar li{
    display: inline-block;
    text-align: center;
    transition: none;
    text-decoration: none;   
    justify-content: center;
    align-items: center;
    display: flex;  
}
.menubar li a {
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    font-size: 16px;
    text-align: left;
    height: 48px;
    border-radius: 0px 25px 25px 0px;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    
}
.menubar li a i {
    border:2px solid #F2F2F2;
    color: #0065FC;
    background: #deebff;
    border-radius: 40px  ;
    width: 48px;
    height: 48px;
    font-size: 19px;
    border-image: initial;
    padding: 2px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -35px;
}

.menubar li:hover > a i{
    color: #0065FC;
}
.menubar li:hover > a i{
    color: white;
    background-color: #0065FC;

}
/*info*/
.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.parentIcon{
    color: #0065FC;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
p{
    margin-left: -18px;
}
/* HEBERGEMENT */
.parenthebergement{
    display:grid;
    grid-template-columns: 2fr 1fr  ;
    padding: 20px; 
    grid-column-gap: 25px;   
}
.blockhebergement:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.bloc1:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.bloc2:hover{
    transform: scale(1.04);
}
h2{
    margin-top: 25px;
    margin-left: 15Px;
    margin-bottom: 25px;
    font-size: 18px;
}
.colorBleu{
    color:#0065FC
}
.entrebloc{
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin-block-start: inherit;
}
.bloc1 {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 20px;
    justify-content: space-evenly;
    padding-bottom: 1px;  
}
.bloc2{
    display: grid;
    grid-auto-flow: column;
    padding-top: 1px;
    justify-content: space-evenly
    }


.blockhebergement{
    height: 523px;
    
    width: 100%;
    align-content: center;
    border-radius: 10px;
    background-color: #F2F2F2;
}

.colorgris{
    color: gray;
}
.titreheber{
    margin-left: 43px;
}

.texthebergement {
    padding: 1px;
    font-size: 10px;
    text-align: inherit;
    white-space: inherit;
    margin-top: -11px;
    margin-left: 7px;
    margin-bottom: 11px;
}

h3{
    margin-bottom: 5px;
}

 .entrebloc .imghebergement{
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;

}
.imghebergement1{
    background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    
}
.imghebergement2{
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  
    
}
.imghebergement3{
    background-image: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");   
}
.imghebergement4{
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  
}
.imghebergement5{
    background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
   
}
.imghebergement6{
    background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    
}
.textgras{
    padding-right: 170px;
    padding-left: 100px;
    font-weight: bold;
    margin-top: 37px;
    margin-bottom: 30px;
    margin-left: -45px;
}

/*populaire*/
.blocpop2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
 .iconpop i{
     margin-right:  199px; 
 }
.blockpopulaire{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px 24px 12px;
    border-radius: 10px;
    background-color: #F2F2F2;
}
.textpopulaire{
    margin-block: auto;
    display: grid;
    grid-area: none;
    grid-row: auto;
    padding: 18px;
    font-size: 10px;
    margin-top: -9px;
    margin-bottom: -12px;
    padding-top: 20px;
}
.blocpop2{
    
 display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
    background-color: white;
    border-radius: 20px;
    
}

.imgPopulaires1 {
    background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 113px;
    border-radius: 20px 0 0 20px;
    padding: 0px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
  }
  .imgPopulaires2 {
    background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 113px;
    border-radius: 20px 0 0 20px;
    padding: 0px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
  }
  .imgPopulaires3 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 113px;
    border-radius: 20px 0 0 20px;
    padding: 0px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
  }

  /* activité*/
.activites{
    margin-top: 60px;
    margin-bottom: 60px;
}
.titreact{
    width: 97%;
    height: 370px;
    display: flex;
    flex-direction: inherit;
    align-content: space-between;
    
 }
.blocactivite{
    height: 600px;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin-left: auto;
    margin-right: auto;
}
.blocactivite2{
    height: 600px;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: auto;
}
.boxactivite2{
    width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgtitre{
    height: 70px;
    display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
.blocactivite:hover{
    cursor: pointer;
  transform: scale(1.03)
}
.blocactivite2:hover{
    cursor: pointer;
    transform: scale(1.04);
}

.imageactivite1{
    background-image: url("../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.imageactivite2{
    background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}
.imageactivite3{
    background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.imageactivite4{

background-image: url("../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.imageactivite5{
    background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}
.imageactivite6{
    background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

/* footer */
.footer {
    height: 200px;
    margin-top: 300px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
align-items: center;
flex-direction: inherit;
 }

.titref{
    height: 150px;
    margin-left: 26px;
margin-right: 200px

}
.dlienfooter{
    margin-top: 20px;
    height: 20px;
    font-size: 15px;
}
.lienFoot{
    text-decoration: none;
    color: black;
    font-weight: lighter;

}

/*responsivedesign*/

@media screen and (max-width: 767px){
    
        /* header*/
        .responsive{
            padding: 13px;
        }
        .menu {
            
            display: flex;
            width: 100%;
            
          
         }
    
         .header{
        display: flex;
        flex-flow: row wrap;
         }
         #logoreservia {
             
            width: 79px;
            margin: 5px;
            padding: 10px;
            
        }
    .nav ul{
        padding-left: 0%;
        margin-top: 0px;
    }
    .liste {
        margin-bottom: 3px;
        font-size: 20px;
    }
    
    .liste2{
        margin-bottom: 3px;
        font-size: 20px;
        width: inherit;
    }
    .nav{width:100%}
    .nav2.mobile{
        display: block;
    }
    .nav2{
        display: none;
    }
    .nav li{
        width: 50%;
        text-align: center;
        padding: 10px;
        border-bottom: 3px solid #f2f2f2;
        margin-top: 30px;
    }
    .liste:hover{
        border-bottom: 1px solid #0065fc;
        text-decoration: none;
        border-top: none;
    }
    .liste2 :hover{
        border-bottom: 3px solid #0065fc;
        text-decoration: none;
        border-top: none;
        border:transparent;
        transform: scale(1.1);
    
    }
    .navlist{
        height: 72px;
        width: 409px;
        margin-right: -228px;
        border-bottom: 3px solid #F2F2F2
    
    
     }
    
     .navlist li:hover{
        
       border-bottom:1px solid #0065fc;
       border-top: none;
     }
    .nav2{    
        margin-left: 87px;
        
    }
    
    /* barre de rechercher*/
    
    #recherche{
        margin: auto;
        margin-left: -32px;
        width: 54px;
        border-radius: 15px;
        display: none;
    }
    .buttonrecherche{
        display: none;
    }
    .loupe2{
        background-color: #0065FC;
    border-radius: 15px 15px 15px 15px;
    border: 15px;
    color: white;
    font-size: 15px;
    width: 46px;
    height: 50px;
    cursor: pointer;
    margin-left: -15px;
    display: block;
    }
    #search{
        margin: 1px;
    }
    #localisation{
        margin: 0px;
    }
    /* barre filtre */
    .menubar li a {
        margin-left: 0px;
        margin-right: 0Px;
    }
    .menubar{
        display: flex;
        margin: 0px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }
    .filtres{
        margin-bottom: 21px;
    }
    .logos{
        margin-bottom: 11px;
    }
    
    /* bloc hebergement et pop */
    .blocpop2{
        width: 318px;
    display: grid;
    background-color: white;
    border-radius: 20px;
    }
.imgPopulaires1 .imgPopulaires2 .imgPopulaires3{
    margin-bottom: 30px;
}
.blockpopulaire{
    width: 100%;
    height: 464px;
    display: flex;
    border-radius: 0;
}
    .textgras{
        margin-left: -56px;
        font-size: larger;
    width: inherit;}
    #Hebergement{
        font-size: large;
        margin-left: -29px;
        margin-top: 46px;
    }
    .parenthebergement{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        width: 320px;
    }
    
    .texthebergement{
        
        font-size: 14px;
        width: 136%;
        margin-left: 31px;
        background-color: white;
        border-radius: 0px 0px 12px 12px;
        box-shadow:  5px 5px 1px #f2f2f2;
    }
    .blockhebergement{
        display: inline-block;
    background-color: white;
    margin: 0px;
    flex-wrap: wrap;
    flex-direction: center;
    align-content: space-between;
    }
    
    .entrebloc .imghebergement{
        width: 208px;
        padding: 33px;
        margin-left: 28px;
        border-color: white;
    }
    .bloc1{
        display: flex;
        flex-direction: column;
        align-items: self-start;}
    .bloc2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: inherit;
    }
    .imghebergement1{
        width: 163%;
        margin-left: 26px;
        height: 122px;}
    
        .imghebergement2{
            width: 163%;
        margin-left: 26px;
        height: 122px;
        }
        .imghebergement3{
            width: 163%;
        margin-left: 26px;
        height: 122px;
        }
        .imghebergement4{
            width: 163%;
        margin-left: 26px;
        height: 122px;
        }
        .imghebergement5{
            width: 163%;
        margin-left: 26px;
        height: 122px;
        }
        .imghebergement6{
            width: 163%;
        margin-left: 26px;
        height: 122px;
        }
    
    /* activité */
    
    #activite1{
        margin-left: -21px;
        
    }
    
    .activites{
        margin-top: 1024px;
        margin-left: 58px;
        margin-right: -38px;
        margin-bottom: -143px;
        flex-direction: column;  
    }
    .titreact{
        margin: -28px;
        padding: 0px
    }
    .blocactivite{
        width: 100%;
        margin-top: 39px;
        margin-bottom: 102px;
        margin-left: -10px;
        }
    
        .imageactivite1{
            height: 172px;
        width: 100%;
    }
    .blocactivite2{
         width: 100%;
         margin-inline: 3px;
         margin-top: -178px;
         margin-left: -10px;
    }
    
    .imageactivite2{
        height: 172px;
        width: 100%;
    }
    .imageactivite3{
        height: 172px;
        width: 100%;
        margin-top: -66px;
    }
    .imageactivite4{
        margin-top: -21px;
        height: 172px;
        width: 100%;
    }
    .imageactivite5{
        height: 172px;
        width: 100%;
    
    }
    .imageactivite6{
        margin-top: -60px;
        height: 172px;
        width: 100%;
    
    }
    .imgtitre{
        width: 247px;
        margin: -4px;
        margin-left: -9px;
    }
    .boxactivite2{
        margin-top: 95px;
    }
    
    /* footer */
    
    .footer{ 
        background-color: #f2F2F2;
        display: flex;
        height: 497px;
        margin-bottom: -9px;
        margin-left: -15px;
        justify-content: space-evenly;
        margin-top: 1375px;
        flex-direction: column;
      }
      
      .titref{
        
        margin-bottom: auto;
        margin-left: 155px;
        margin-top: 15px;
        padding-bottom: 19px;  }
       
     }

     @media  screen and ( min-width:768px ) and (max-width:1023px) {
        .header{
            display: flex;
        }
        .menu{
            margin-right: -200px;}

        .responsive{
            margin-right: 20px;
        }
        
        /* hebergement*/
        .blockhebergement{
            width: 935px;
            height: 790Px;
            margin: -2Px;
        }
        .parenthebergement{
            display: flex;
            margin-left: 8px;
            margin-right: -153px;   
            flex-wrap: wrap;}
        .bloc1{
        margin-left: 45px;
        grid-template-rows: auto;
        }
        .bloc2{
            margin-left: 45px;
            grid-template-rows: auto;
        }
        
        .entrebloc{
            margin: 13px;
            width: 261px;
            height: 293px;
        }
        .imghebergement1{
            height: 158px;
            width: 230px;
        }
        .imghebergement2{height: 158px;
            width: 230px;}
        
            .imghebergement3{
                height: 158px;
            width: 230px;
            }
        
        .imghebergement4{height: 158px;
                width: 230px;}
        .imghebergement5{
                    height: 158px;
            width: 230px;
                }
        
         .imghebergement6{height: 158px;
                    width: 230px;}
        .texthebergement{
            font-size: larger;}
        
           /* populaire */ 
        .blockpopulaire{
            height: 749px;
            width: 1052px;
            margin-top: 37px;
            
        }
        .titrepop{
            margin-left: 123px;
        }
        .blocpop2{
            height: 193px;
            width: 491px;
            margin-left: 193px;
            }
        
            .imgPopulaires1{
                margin: 3px;
                }
            .imgPopulaires2{margin: 3px;
                }
            .imgPopulaires3{margin: 3px;
                }
        
        .textpopulaire{
            margin-left: 16px;
            font-size: 21px;}
        /* Activité */
        .activites{
            margin-left: 40px;
    margin-right: -181px;
            }
            
        .footer{
            width: 948px;
            height: unset;
        }
        .titref{
            height: 275px;
        }
        .dlienfooter{
            height: auto;
        }
             } 