html,body{
    font-family :  'Raleway' , sans-serif;
    
    box-sizing: border-box;
}
nav>ul{
    margin: 0px;
    padding: 0px;
}
/* header */
#logoreservia{
    width: 80px;
    margin: 10px;
    padding: 10px;    
}
.navlist li a{
    text-decoration: none;
}

.navlist{
display: flex;
float: right;

list-style-type: none;
justify-content: center;
text-decoration: none;
align-items: center;

}
.navlist li{
    display: block;
    margin: 10px;
    padding: 10px;
    height: 50px;
    text-align: center;
    transition: none;
    text-decoration: none;     
}
.liste{
    
    color: black;
    
}
.navlist :hover{
    border-top: 1px solid  #0065FC;
    }
    
.liste2 a{
    font-weight: lighter;
    color: black;   
    justify-content: center;
    height: 99px;
    width: 140px;
}
h1{ font-size: 20px;
    margin: 10px;
    padding-left: 10px;
}
p{
    padding-left: 35px;
    font-weight: lighter;
    margin: 10px;

}
/* barre de recherche*/

form{
    display: flex;
    font-size: 50px;

}
#search{
    padding: 5px;
    outline: 0;
    color: black;
    font-size: 20px;
    text-align: right;
}
#search{
    border: 1px solid;
    color: #F2F2F2;
}
#localisation
{
border:1px solid none;
padding: 15px;
margin-left: 15px;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
background-color:#F2F2F2 ;
font-size: 20px;
}
#recherche{
    background-color:#0065FC ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 15px;
    color: white;
    font-size: 15px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}
::placeholder{
    color: black;
    font-size: 19px;
    text-align: left;
}
/*menu barre*/

.filtres{
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;

    }
.menubar{
    display: flex;
    align-items: center;
float: center;
padding: 15px;
margin:15px;
list-style-type: none;
justify-content: left;
text-decoration: none;
}
.menubar li{
    display: inline-block;
    text-align: center;
    transition: none;
    text-decoration: none;   
    justify-content: center;
    align-items: center;
    display: flex;  
}
.menubar li a {
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    font-size: 16px;
    text-align: left;
    height: 48px;
    border-radius: 0px 25px 25px 0px;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    
}
.menubar li a i {
    border:2px solid #F2F2F2;
    color: #0065FC;
    background: #deebff;
    border-radius: 40px  ;
    width: 48px;
    height: 48px;
    font-size: 19px;
    border-image: initial;
    padding: 2px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -35px;
}

.menubar li:hover > a i{
    color: #0065FC;
}
.menubar li:hover > a i{
    color: white;
    background-color: #0065FC;

}
/*info*/
.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.parentIcon{
    color: #0065FC;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
p{
    margin-left: -18px;
}
/* HEBERGEMENT */
.parenthébergement{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid: column gap 25px;
    margin: 20px;
    
}
.blockhebergement:hover{
    cursor: pointer;
    transform: scales(1.1);

}
.bloc1:hover{
    cursor: pointer;
    transform: scale(1.04)
}
.bloc2:hover{
    transform: scale(1.04);
}
h2{
    margin-top: 25px;
    margin-left: 15Px;
    margin-bottom: 25px;
    font-size: 18px;
}
.colorBleu{
    color:#0065FC
}
.entrebloc{
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: -200px;
    margin-block-start: inherit;
}
.bloc1 {
    display: grid;
    grid-auto-flow: column;
    margin-left: 55px;
    margin-right: 100px;
    margin-bottom: 20px;

    
}
.bloc2{
    display: grid;
    grid-auto-flow: column;
    margin-left: 55px;
    margin-right: 100px;}


.blockhebergement{
    height: 523px;
    width: 769px;
    border-radius: 10px;
    background-color: #F2F2F2; 
}

.colorgris{
    color: gray;
}
.titreheber{
    margin-left: 43px;
}

.texthebergement {
    padding: 1px;
    font-size: 10px;
    text-align: inherit;
    white-space: inherit;
    margin-top: -11px;
    margin-left: 7px;
    margin-bottom: 11px;
}

h3{
    margin-bottom: 5px;
}


.imghebergement1{
    background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;

}
.imghebergement2{
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;
    
}
.imghebergement3{
    background-image: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;

    
}
.imghebergement4{
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;

    
}
.imghebergement5{
    background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;

    
}
.imghebergement6{
    background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 170px;
    height: 70px;
    border-radius: 10px 15px 0 0;
    padding: 12px;
    border-style: solid;
    border-color: white;

    
}
.textgras{
    padding-right: 170px;
    padding-left: 100px;
    font-weight: bold;
    margin-top: 37px;
    margin-bottom: 30px;
    margin-left: -45px;
}

/*populaire*/
.blocpop2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
 .iconpop i{
     margin-right:  199px; 
 }
.blockpopulaire{
    flex-direction: column;
    height: 523px;
    width: 400px;
    margin-left: 31px;
    border-radius: 10px;
    background-color: #F2F2F2;

}
.textpopulaire{
    display: grid;
    grid-area: none;
    grid-row: auto;
    padding: 18px;
    font-size: 10px;
    margin-block: auto;
    margin-top: -9px;
    margin-bottom: -12px;
    padding-top: 20px;
}
.blocpop2{

    display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
    background-color: white;
    border-radius: 20px;
    width: 321px;
    
    height: 120px;
    margin: 31px;
}

.imgPopulaires1 {
    background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 113px;
    border-radius: 20px 0 0 20px;
    padding: 0px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
  }
  .imgPopulaires2 {
    background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 113px;
    border-radius: 20px 0 0 20px;
    padding: 0px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
  }
  .imgPopulaires3 {
    background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 113px;
    border-radius: 20px 0 0 20px;
    padding: 0px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
  }

  /* activité*/
.activites{
    margin-top: 60px;
    margin-bottom: 60px;
}
.titreact{
    width: 97%;
    height: 370px;
    display: flex;
    flex-direction: inherit;
    align-content: space-between;
    
 }
.blocactivité{
    height: 600px;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin-left: auto;
    margin-right: auto;
}
.blocactivité2{
    height: 600px;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: auto;
}
.boxactivité2{
    width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.imgtitre{
    height: 70px;
    display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
.blocactivité:hover{
    cursor: pointer;
  transform: scale(1.03)
}
.blocactivité2:hover{
    cursor: pointer;
    transform: scale(1.04);
}

.imageactivite1{
    background-image: url("../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.imageactivite2{
    background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}
.imageactivite3{
    background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.imageactivite4{

background-image: url("../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.imageactivite5{
    background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}
.imageactivite6{
    background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

/* footer */
.footer {
    height: 200px;
    margin-top: 300px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
align-items: center;
flex-direction: inherit;
 }

.titref{
    height: 150px;
    margin-left: 26px;
margin-right: 200px

}
.dlienfooter{
    margin-top: 20px;
    height: 20px;
    font-size: 15px;
}
.lienFoot{
    text-decoration: none;
    color: black;
    font-weight: lighter;

}

/*responting*/

@media screen and (max-width: 767px){
    .navlist .hebergement, .navlist .activites {
 display: none;
  }
    
    .navlist .liste2{
        padding: 0px;
        margin: 0px;
    }
     }
   
    
